.header
    nav.pad-60(role='navigation')
        .container.grid-half
            a.nav-logo
                img(src="./assets/img/logo.png", alt="Alkida", height="36px")
            ul.nav-primary-links
                li
                    a(href="#development", data-target="#development") AI BlockChain
                li
                    a(href="#technology", data-target="#technology") Technology
                li
                    a(href="#whitepaper", data-target="#whitepaper") Whitepaper
                li
                    a(href="#productivity", data-target="#productivity") Insiders
                li
                    button#sign-in Sign In
    
    .container.grid-half
        article 
            header BlockChain
            h1 A.I. Model Computing with Decentralization On the Go.
            p 
                | AKIDA SDK with Decentralized Machine Learning, A complete place for 
                span.highlight Algorithms and Open Source AI Models. 
                | Leverage processing power of all connected devices for running machine learning algorithms
            a.button.button-primary Learn more
            a.button.button-default Watch video
        img.banner-bg(src="./assets/img/banner_bg.png", alt="Akida Development Environment")

ul.nav-helper
    li(data-target=".header", title="Home") ◍
    li(data-target="#development", title="Development") ◎
    li(data-target="#technology", title="Technology") ◎
    li(data-target="#whitepaper", title="Whitepaper")  ◎
    li(data-target="#productivity", title="Productivity") ◎

img.logo(src="./assets/img/logo.svg", alt="akida")