section.article-left
    .container.grid-half
        article#development
            header Akida
            h2 Development
            p                 
                span.highlight  Predefined Datasets.
                |  Explore and analyze a collection of public datasets and Models. Making easier to write new analytical models for fast crunching.
                ul
                    li Modularity: create side chain using alkida network
                    li Easy Extensibility
                    li Cost Effective
            
        .img-container    
            img(src="./assets/img/development.svg", alt="")