section.article-right
    .container.grid-half
        .img-container    
            img(src="./assets/img/productivity.svg", alt="")
        article#productivity
            header Akida
            h2 Productivity
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam alias assumenda laborum nesciunt perferendis, perspiciatis libero laudantium ut. Nemo, eum assumenda nulla ducimus aliquid ratione blanditiis libero earum recusandae!
            
        img.show-sm(src="./assets/img/productivity.svg", alt="")