section.article-right
    .container.grid-half
        .img-container    
            img(src="./assets/img/technology.svg", alt="")
        article#technology
            header Akida
            h2 Technology 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam alias assumenda laborum nesciunt perferendis, perspiciatis libero laudantium ut. Nemo, eum assumenda nulla ducimus aliquid ratione blanditiis libero earum recusandae!
            
        img.show-sm(src="./assets/img/technology.svg", alt="")