section.article-left
    .container.grid-half
        article#whitepaper
            header Akida
            h2 Whitepapers
            p Hindrance to the develop models is the centralized nature of the networks used, there is a limit to processing power. Akida decentralized network will be a network of machines, with extensive processing power to achieve better A.I. Models.
            a.button-article(href="#") whitePaper
        .img-container    
            img(src="./assets/img/whitepaper.svg", alt="")